@use "./core/variables" as var;

.formCountry {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  &__title {
    font-size: 2.2rem;
    color: var.$color-prymary;
  }
  &__inputs {
    display: flex;
    gap: 1rem;
    &--input {
      border-radius: 2px;
      border: 1px solid var.$color-prymary;
      padding: 0.5rem;
    }
    &--button{
      padding: 0.3rem 1rem;
      background-color: var.$color-prymary;
      border: none;
      border-radius: 5px;
      color: var.$color-secondary;
    }
  }
}
