@use "./core/variables" as var;

.formCountry {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  &__title {
    font-size: 3em;
    color: var.$color-prymary;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: 478px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--input {
      font-size: 1rem;
      border-radius: 2px;
      border: 1px solid var.$color-prymary;
      padding: 0.3rem;
      padding-left: 0.5rem;
      @media (min-width: 478px) {

      }

    }
    &--button {
      padding: 0.3rem 1rem;
      background-color: var.$color-prymary;
      border: none;
      border-radius: 5px;
      color: var.$color-secondary;
    }
  }
}
