@use "./core/variables" as var;
.list{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  padding-bottom: 2rem;


  &__item{
    min-width: 12rem;
    background-color: var.$color-secondary;
    border: 2px solid var.$color-prymary;
    border-radius:  5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--name{
      font-size: 1.3rem;
      color: var.$color-prymary;
      padding-block: 0.4rem;
    }
    &--span{
      padding: 0.3rem;
    }
    &--button{
      font-size: 1rem;
      margin-top: 0.5rem;
      padding: 0.2rem 1rem;
      background-color: var.$color-prymary;
      color: var.$color-secondary;
      border:  none;
      border-radius: 2px;
      &:hover{
        background-color: var.$color-secondary;
        color: var.$color-prymary;
        border: 1px solid var.$color-prymary;
        transform: scale(1.05);
        font-weight: bold;
      }
    }
  }
}