@use "./core/variables" as var;
.list{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  &__item{
    min-width: 10rem;
    border: 1px solid var.$color-prymary;
    border-radius:  5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--span{
      padding: 0.3rem;
    }
    &--button{
      font-size: 1rem;
      margin-top: 0.5rem;
      padding: 0.2rem 1rem;
      background-color: var.$color-secondary;
      color: red;
      border:  1px solid red;
      border-radius: 2px;
    }
  }
}