.list{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  &__item{
    min-width: 10rem;
    border: 1px solid black;
    border-radius:  5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--span{
      padding: 0.3rem;
    }
  }
}