@use "./core/variables" as var;

.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  padding:2rem;
  &__title{
    font-size: 2.2rem;
    color: var.$color-prymary;
  }
  &__filter{
    display: flex;
    gap: 1rem;
    align-items: center;
    &--label{
      font-size: 1.5rem;
      width: 20%;
    }
    &--input{
      border-radius: 2px;
      border: 1px solid var.$color-prymary;
      padding: 0.5rem;
    }
  }
}