@use "./core/variables" as var;

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  &__title {
    font-size: 3em;
    color: var.$color-prymary;
  }
  &__filter {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;

    &--label {
      font-size: 1.8rem;
      font-weight: 600;
      width: 30%;
      @media (min-width: 478px) {
      width: 20%;
    }
    }
    &--input {
      font-size: 1rem;
      border-radius: 2px;
      border: 1px solid var.$color-prymary;
      padding: 0.3rem;
    }
  }
}
