.header{
  text-align: center;
  padding: 2rem;
  background-color: #5d8a67;
  color: white;
  box-shadow: 0 5px 20px black;
  &__title{
    font-size: 3rem;
    padding: 1rem;
  }
  &__info{
    font-size: 1.5rem;
  }
}