@use "../styles/core/variables" as var;

.header{
  text-align: center;
  padding: 2rem;
  background-color: var.$color-prymary;
  color: var.$color-secondary;
  box-shadow: 0 5px 20px black;
  &__title{
    font-size: 3.5rem;
    padding: 1rem;
  }
  &__info{
    font-size: 1.5rem;
  }
}